<div class="container">		
  <div class="tr-content">
    <div class="breadcrumbs">
      <%= link_to 'Home', home_path %>
      <span>/&nbsp;</span>About
    </div>
    <div class="about-us-content">
      <div class="row">
        <div class="col-md-6">
          <div class="typo_one-half ">
            <img src="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/about-image-one.jpg" alt="about-image-one" class="img-responsive">
          </div>	
        </div>
        <div class="col-md-6">
          <div class="typo_one-half last ">
            <h3>Who we are</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
          </div>	
        </div>
      </div><!-- /.row -->

      <div class="row">
        <div class="col-sm-6">
          <div class="typo_one-half ">
            <img src="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/about-image-two.jpg" alt="about-image-one" class="img-responsive">
            <h3>Background</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.<br>
            </p>
          </div>	
        </div>
        <div class="col-sm-6">
          <div class="typo_one-half last ">
            <img src="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/about-image-three.jpg" alt="about-image-one" class="img-responsive">
            <h3>Our Approach</h3>
            <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.<br>
            </p>
          </div>	
        </div>
      </div><!-- /.row -->
      
      <div class="fourth-content">
        <div class="row">
          <div class="col-sm-3">
            <div class="typo_one-fourth ">
              <a href="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-one.jpg" class="image-link"><img src="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-one.jpg" alt="Image" class="img-responsive"></a>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="typo_one-fourth ">
              <a href="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-two.jpg" class="image-link"><img src="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-two.jpg" alt="Image" class="img-responsive"></a>
            </div>	
          </div>
          <div class="col-sm-3">
            <div class="typo_one-fourth">
              <a href="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-three.jpg" class="image-link"><img src="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-three.jpg" alt="Image" class="img-responsive"></a>
            </div>	
          </div>
          <div class="col-sm-3">
            <div class="typo_one-fourth last ">
              <a href="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-four.jpg" class="image-link"><img src="http://themecss.com/wp/Desilog/wp-content/uploads/2016/05/gallery-four.jpg" alt="Image" class="img-responsive"></a>
            </div>	
          </div>
        </div><!-- /.row -->						
      </div>
    </div><!-- /.about-us-content -->

    <div class="home-content">
      <div id="mc4wp_form_widget-2" class="widget widget_mc4wp_form_widget">
        <h5>Newsletter</h5>
        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-61" method="post" data-name="theme-form">
          <div class="mc4wp-form-fields">
            <label>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</label>
            <input type="email" name="EMAIL" placeholder="Email Address" required="">
              <input type="submit" value="Subscribe">
          </div>
        </form>
      </div>
    </div><!-- /.home-content -->					

    <div class="our-team">
      <h2>Our Team</h2>
      <div class="members-list clearfix">
        <div class="row">
          <div class="col-sm-3">
            <div class="members post-2 page type-page status-publish hentry">
              <img alt="Image" src="http://1.gravatar.com/avatar/db3831bc9aa4e9a426b826564193368f?s=263&r=g" class="img-responsive">
              <h4>Leaf Corcoran</h4>
            </div>				
          </div>
          <div class="col-sm-3">
            <div class="members post-2 page type-page status-publish hentry">
              <img alt="Image" src="http://1.gravatar.com/avatar/db3831bc9aa4e9a426b826564193368f?s=263&r=g" class="img-responsive">
              <h4>Eli Amesefe</h4>
            </div>				
          </div>
          <div class="col-sm-3">
            <div class="members post-2 page type-page status-publish hentry">
              <img alt="Image" src="http://1.gravatar.com/avatar/db3831bc9aa4e9a426b826564193368f?s=263&r=g" class="img-responsive">
              <h4>Chris Taylor</h4>
            </div>				
          </div>
          <div class="col-sm-3">
            <div class="members last post-2 page type-page status-publish hentry">
              <img alt="Image" src="http://1.gravatar.com/avatar/db3831bc9aa4e9a426b826564193368f?s=263&r=g" class="img-responsive">
              <h4>Alex Posey</h4>
            </div>				
          </div>
        </div><!-- /.row -->
      </div>
    </div><!-- /.our-team -->				

  </div><!-- /.tr-content -->						
</div><!-- /.container -->
