<div class="container">		
  <div class="tr-content">
    <div class="row">
      <div class="col-sm-8 col-md-9 tr-sticky">
        <div class="theiaStickySidebar">
          <div class="breadcrumbs">
            <%= link_to 'Home', home_path %>
            <span>/&nbsp;</span>Contact
          </div>	

          <div id="gmap"></div>
          <div class="contact-description">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="contact-info clearfix">
            <div class="row">
              <div class="col-md-4">
                <div class="contact-details">
                  <h4>Address</h4>
                  <span>123, New Lenox Chicago, IL 60606</span>
                </div>				
              </div>
              <div class="col-md-4">
                <div class="contact-details">
                  <h4>Mobile</h4>
                  <span>(+899) 123-9465-12345</span>
                </div>			
              </div>
              <div class="col-md-4">
                <div class="contact-details last">
                  <h4>Email</h4>
                  <span>
                    <a href="#">adsupport@desilog.com</a>
                  </span>
                </div>			
              </div>
            </div><!-- /.row -->		
          </div><!-- /.contact-info -->		
          <div class="contact-form comment-form clearfix">
            <h4>Send us your feedback</h4>
            <form class="contact-form" name="contact-form" method="post" action="#">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Name">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="email" class="form-control" required="required" placeholder="Email Address">
                        </div> 
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="text" class="form-control" required="required" placeholder="Website">
                        </div> 
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <textarea name="message" required="required" class="form-control" rows="7"  placeholder="Message"></textarea>
                        </div>             
                    </div>     
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="wpcf7-form-control wpcf7-submit">Submit</button>
                </div>
            </form><!-- /.contact-form -->	
          </div>							
        </div><!-- /.theiaStickySidebar -->
      </div>	
      <div class="col-sm-4 col-md-3 tr-sticky">
        <div class="sidebar theiaStickySidebar">
          <div class="widget widget_text">
            <h5>Advertise Here</h5>			
            <div class="textwidget">
              <a href="#">
                <%= image_tag 'ads_one.jpg', alt: 'Sidebar Banner Advertisements', class: 'img-responsive' %>
              </a>
            </div>
          </div>

          <div class="widget widget_categories">
            <h5>Categories</h5>		
            <ul>
              <li><a href="#">Branding<span> 1</span></a></li>
              <li><a href="#">Character Design<span> 2</span></a></li>
              <li><a href="#">Drawing<span> 2</span></a></li>
              <li><a href="#">Editorial Design<span> 1</span></a></li>
              <li><a href="#">Graphic Design<span> 3</span></a></li>
              <li><a href="#">Illustration<span> 1</span></a></li>
              <li><a href="#/">Typography<span> 1</span></a></li>
            </ul>
          </div>
        </div><!-- /.sidebar -->	
      </div>										
    </div><!-- /.row -->		
  </div><!-- /.tr-content -->					
</div><!-- /.container -->